* {
  font-family: Arial;
}

html {
 scroll-behavior: smooth;
}

.navbar a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  background-color: #383E4C;
/*   overflow:hidden; */
/*   display: block; */
/*   display:sticky; */
  height:80px;
  width:100%;
  padding:10px 0px 0px 10px;
  position:fixed;
  top:0;
  z-index:999;
  margin-top:-10px;
  margin-left:-10px;
}

li {
/*   background-color:#383E4C; */
/*   list-style-position:inside; */
  text-align:center;
  display:inline-block;
  position:relative;
  border : 1px solid grey;
  padding: 10px 15px 10px 15px;
  margin : 0px 40px 0px -10px;
  left:25%;
  right:25%;
  top:20%;
  font-size:25px;
  color:white;
}

li:hover, li:active, li:focus {
  background-color:#49505F;
}

.parallax-1 {
  background-image: url(img/cat1.jpg);
  height:400px;
  width:100%;
}

.parallax-1, .parallax-2, .parallax-3{
  position:relative;
  width:100%;
  background-attachment:fixed;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  color:white;
}

.text_block {
  position: absolute;
  color : white;
  text-align:center;
  left:50%;
  top:50%;
  transform : translate(-50%, -50%);
}

h2{
  text-shadow:3px 3px #000000;
  margin-bottom:-40px;
}

h3{
  font-size:30px;
}

p{
  margin-left:10px;
  margin-right:20px;
  margin-bottom:60px;
}

h4{
  text-align: center;
  text-shadow:1px 1px black;
}

#meet_cats {
  column-count:3;
  column-width:33.33%;
  position:relative;
  margin:40px;
}

.button_red, .button_green, .button_blue, .button_grey{
  color:white;
  text-decoration:none;
  padding:20px 30px;
  border-radius:6px;
  position:relative;
  left:37%;
  margin-top:30px;
  margin-bottom:30px;
}

.button_blue{
  background-color:blue;
}

.button_blue:hover{
  background-color:grey;
}

.button_green{
  background-color: green;
}

.button_green:hover{
  background-color:grey;
}

.button_red{
  background-color: red;
}

.button_red:hover{
  background-color:grey;
}

.button_grey{
  background-color:grey;
  border:1px solid black;
  position:relative;
  margin-top:40px;
}

.button_grey:hover{
  background-color:white;
  color:black;
  border:none;
}

#meet_cats div {
  background-color: #F2F2F2;
  height:auto;
  padding-bottom: 25px;
}

h3 {
  position:relative;
  left: 15px;
  font-size: 40px;
}

p {
  position:relative;
  left: 8px;
  font-size: 25px;
}

.column_two_way {
  column-count:2;
  column-width:50%;
  position:relative;
/*   margin-top : 50px;
  margin-left: 40px;
  margin-right:40px;
  padding-bottom: 10px; */
}

.column_two_way div {
  background-color:#F2F2F2;
  position:relative;
  padding-bottom: 20px;
  margin-bottom: 25px;
}

#behavior {
  position:relative;
}

.parallax-2 {
  background-image:url(img/cat7.jpg);
  height:500px;
  width:100%;
  margin-bottom:50px;
}

.text_block2 {
  position: absolute;
  top: 50%;
  bottom: 50%;
  left : 30%;
  right: 30%;
  color: white;
  text-align:center;
}

.column_four_way {
  column-count:4;
  column-width:25%;
  position:relative;
}

.column_four_way div {
  background-color: #F2F2F2;
  position:relative;
  padding-bottom:50px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 50px;
}

h4 {
  font-size: 40px;

}

.big_column {
  position:relative;
  background-color:#F2F2F2;
  margin : 30px;
}

.column-10{
  position:relative;
  left:30px;
  right:20px;
  margin:auto;
  padding-bottom:30px;
}

#contact {
  margin-bottom : 20px;
  background-image:url(img/cat13.jpg);
  height:600px;
  text-align:center;
}

#contact button {
  color:white;
  padding:10px 20px;
  border-radius:6px;
  margin-left:10px;
  background-color:grey;
  font-size:17px;
  width: 120px;
  text-align:center;
  margin-top:10px;
}

.wrapper h2 {
  color:white;
  padding-top:1.5em;
}

.wrapper p {
  max-width:700px;
  text-align:center;
  margin-left:300px;
}

.wrapper p, input, textarea{
  background-color:rgba(242, 242, 242, 0.4);
  padding:10px 15px 10px 15px;
  border-radius:4px;
  border:none;
  margin-top:5%;
}

.form {
  margin-top:-50px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:1fr 1fr 1fr;
  grid-gap:20px 50px;
  width:700px;
  margin-left:15px;
}

.grid-1, .grid-2, .grid-3 {
  display:inline-block;
  margin-left:300px;
  margin-bottom:-10px;
  width:300px;
} */

.free h3{
  text-align:center;
}

.free p{
  font-style:italic;
}

footer {
  border-top:1px solid grey;
  padding-top: 30px;
  text-align:center;
}

