/* ==== Global Styles ====*/
* {
 scroll-behavior: smooth;
 font-family: Arial;
 margin : 0;
 padding: 0;
 overflow-x: hidden;
}

img {
  max-width:100%;
  height:auto;
}

h2 {
  text-shadow:3px 3px #000000;
/*   margin-bottom:-40px; */
  font-size: 60px;
}

h3 {
  font-size:50px;
  position:relative;
  left: 15px;
}

h4 {
  text-align: center;
  text-shadow:1px 1px black;
  font-size: 40px;
}

p {
  margin-left:10px;
  margin-right:20px;
  margin-bottom:60px;
  position:relative;
  left: 8px;
  font-size: 25px;
}

.button_red, .button_green, .button_blue, .button_grey{
  color:white;
  text-decoration:none;
  padding:20px 30px;
  border-radius:6px;
  position:relative;
/*   left:45%; */
   display:block;
   margin: 0 auto;
  width:5em;
  margin-top:30px;
  margin-bottom:30px;
  text-align: center;
}

.button_blue{
  background-color:blue;
}

.button_blue:hover{
  background-color:grey;
}

.button_green{
  background-color: green;
}

.button_green:hover{
  background-color:grey;
}

.button_red{
  background-color: red;
}

.button_red:hover{
  background-color:grey;
}

.button_grey{
  background-color:grey;
  border:1px solid black;
  position:relative;
  margin-top:40px;
}

.button_grey:hover{
  background-color:white;
  color:black;
  border:none;
}

.parallax-1, .parallax-2, .parallax-3{
  position:relative;
  width:100%;
  background-attachment:fixed;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  color:white;
}
/* ==== Navigation =====*/

.navbar {
  margin : 0;
  padding : 0;  
  position:fixed;
  top: 0;
  z-index: 99;
  display:flex;
  width: 100%;
  border:none;
}

.navbar a {
  text-decoration: none;
  color:white;
}

.navbar .icon {
  display:none;
}

ul {
  display:flex;
  justify-content: center;
  background-color:grey;
}

li {
  display:inline-block;
  margin : 1em;
  padding: 1em 1.5em;
 }

li:hover, li:active, li:focus {
  background-color:#49505F;
}

/* ==== Homepage ==== */
.parallax-1 {
  background-image: url(img/cat1.jpg);
  height:400px;
  width:100%;
  display:flex;
  justify-content:center;
}

.text_block {
  text-align:center;
  position: absolute;
  top: 50%;
  display:flex;
  flex-direction:column;
}

/* ==== Meet Cats Section ==== */
#meet_cats {
  column-count:3;
  column-width:33.33%;
  position:relative;
/*   margin:40px; */
}

#meet_cats div {
  background-color: #F2F2F2;
  height:auto;
  padding-bottom: 25px;
}

.column_two_way {
  column-count:2;
  column-width:50%;
  position:relative;
}

.column_two_way div {
  background-color:#F2F2F2;
  position:relative;
  padding-bottom: 20px;
  margin-bottom: 25px;
}

/* ==== Behavior Section ===== */
#behavior {
  position:relative;
}

.parallax-2 {
  background-image:url(img/cat7.jpg);
  height:500px;
  width:100%;
/*   margin-bottom:50px; */
}

.text_block2 {
  position: absolute;
  top: 30%;
  bottom: 30%;
  left : 30%;
  right: 30%;
  color: white;
  text-align:center;
}

.column_four_way {
  column-count:4;
  column-width:25%;
  position:relative;
}

.column_four_way div {
  background-color: #F2F2F2;
  position:relative;
/*   padding-bottom:50px; */
}

.big_column {
  position:relative;
  background-color:#F2F2F2;
}

.column-10{
  position:relative;
/*   left:30px;
  right:20px; */
  margin:auto;
/*   padding-bottom:30px; */
}

/* ==== Contact Section ===== */

#contact {
/*   margin-bottom : 20px; */
  background-image:url(img/cat13.jpg);
  height:auto;
  text-align:center;
}

.wrapper h2 {
  color:white;
/*   padding-top:1.5em; */
}

.wrapper p {
  text-align:center;
}

.wrapper p, input, textarea{
  background-color:rgba(242, 242, 242, 0.4);
  border-radius:4px;
}

form {
  width:100%;
}

.form h1 {
  color:white;
}

.container {
  display:flex;
  flex-direction:column;
  justify-content: center;
  padding-top:2em;
  margin: 1em 5em
}

.canvas1 {
  display:flex;
  justify-content: center;
  margin:0 4em;
}

.canvas1 p {
  top: 1em;
}

.canvas2 {
  display:flex;
  justify-content: space-around;
}

.canvas2-left {
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  flex-grow:0.5;
}

.canvas1 p, .canvas2-left input, .canvas2-right textarea {
  border-radius : 3px;
  background-color:rgba(242, 242, 242, 0.4);
  color:black;
  border:none;
  padding:1em;
}

.canvas2-right {
  display:flex;
  flex-direction:column;
  justify-content: space-between;
}

.canvas2-button button {
  background-color:grey;
  border:none;
  border-radius : 3px;
  padding: 1em;
  margin-top:1em;
  width:50%; 
}
  
/* ==== The Last Section and the Footer ==== */

.free h3{
  text-align:center;
  padding-top:1em;
}

.free p{
  font-style:italic;
  text-align:center;
  margin-top:1em;
}

footer {
  border-top:1px solid grey;
  padding-top: 30px;
  text-align:center;
}

/* Media Query */
@media screen and (max-width: 768px) {  
  * {
    margin: 0;
    padding: 0;
  }
 
  ul {
    display:flex;
    background-color:grey;
    justify-content:flex-start;
  }
  
  .navbar a:not(:first-child) {
    display:none;
  }
  
  .navbar a:first-child {
/*     border:1px black solid; */
  }
  
  .navbar .icon {
/*  float: right; */
    border:2px black solid;
    display:block;
  }
  
  navbar a.icon {
    float: right;
    display: block;
  }
  
  img {
    width:100%; 
  }
  .three_way_column {
    display: grid;
    grid-template-columns: 1fr;
/*     padding: 1em; */
/*     grid-row-gap: 100px; */
    width:100%;
  }
  
  .column_two_way {
    display:grid;
    grid-template-columns:1fr;
/*     padding:1em; */
    grid-row-gap: 100px;
    width:100%;
  }
  
  .column_four_way {
    display:grid;
    grid-template-columns:1fr 1fr;
/*     padding:1em; */
    grid-row-gap:100px;
    width:100%;
  }
  
  .canvas2 {
    display:flex;
    
  }
  
  .canvas1 {
    margin:0 0;
  }
  .canvas2 {
    display:flex;
    flex-direction:column;
  }
  
  .canvas2-left {
    display:flex;
    margin-bottom:1em;
  }
  
  .canvas2-left input {
    margin-bottom:1em;
  }
  
}

@media screen and (max-width:480px) {
    .three_way_column {
    display: grid;
    grid-template-columns: 1fr;
/*     padding: 1em; */
    grid-row-gap: 100px;
    width:100%;
  }
  
  .column_two_way {
    display:grid;
    grid-template-columns:1fr;
/*     padding:1em; */
    grid-row-gap: 100px;
    width:100%;
  }
  
  .column_four_way {
    display:grid;
    grid-template-columns:1fr;
/*     padding:1em; */
    grid-row-gap:100px;
    width:100%;
  }
}

